.ghost-grid {
  width: 100%;
  position: fixed;
  top: 0;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
  z-index: 2147483647;

  * {
    height: 100%;
    box-sizing: border-box;
  }

  &__inner {
    height: 100%;
    width: 100%;
    background: black;
    box-sizing: border-box;
    opacity: .2;
  }
}
